.building__page {
  background-color: #2a2541;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://img.freepik.com/premium-vector/pets-cats-dogs-seamless-pattern-doodle-style-with-cute-animals-toys_341076-451.jpg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    filter: invert(1);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #2a2541, $alpha: 0.9);
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .logo {
      margin-top: 10%;
      position: relative;
      width: 250px;
      height: 250px;
      filter: brightness(0) invert(1)
        drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    }

    h3 {
      position: relative;
      text-align: center;
      color: #fff;
      text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.5);
    }
  }

  .running__dog {
    z-index: 1;
    width: 250px;
    height: 200px;
    position: relative;
    animation-name: running;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: drop-shadow(-10px 10px 10px rgba($color: #000, $alpha: 0.5));
  }
}

@keyframes running {
  0%,
  100% {
    left: -250px;
    transform: rotateY(0deg);
  }
  1%,
  49% {
    transform: rotateY(0deg);
  }
  50% {
    left: 100%;
  }
  51%,
  99% {
    transform: rotateY(180deg);
  }
}
