@import "../../utils/variables.scss";

.building__page {
  @include background-color-alpha($color-purple-strong, 1);
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  .bg {
    @include background-invert-image;
  }

  &::after {
    @include background-color-over-banner($color-purple-strong, 0.9);
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .logo {
      margin-top: 10%;
      position: relative;
      width: 250px;
      height: 250px;
      filter: $logo-filter;
    }

    h3 {
      position: relative;
      text-align: center;
      color: #fff;
      text-shadow: $text-shadow-faded;
    }
  }

  .running__dog {
    z-index: 1;
    width: 250px;
    height: 200px;
    position: relative;
    animation-name: running;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: drop-shadow(-10px 10px 10px rgba($color: #000, $alpha: 0.5));
  }
}

@keyframes running {
  0%,
  100% {
    left: -250px;
    transform: rotateY(0deg);
  }
  1%,
  49% {
    transform: rotateY(0deg);
  }
  50% {
    left: 100%;
  }
  51%,
  99% {
    transform: rotateY(180deg);
  }
}
