@import "../../utils/variables.scss";

.sections {
  position: relative;

  .bg {
    @include background-invert-image;
  }

  &::after {
    @include background-color-over-banner($color-purple-strong, 0.9);
  }

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    left: -10%;
    height: 100px;
    top: -50px;
    filter: blur(20px);
    box-shadow: 0 0 20px rgba($color: #000, $alpha: 0.5);
    background-color: $color-purple-strong;
    overflow: hidden;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
}
