@import "../../utils/variables.scss";

.section__info {
  @include background-color-alpha(#fff, 0.9);
  width: 100%;
  position: relative;

  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5em 0;
    gap: 2em;

    section {
      h3 {
        position: relative;
        margin-bottom: 1em;

        &::after {
          @include under-line-text(60px, $color-orange);
          bottom: -5px;
        }
      }

      p {
        margin-bottom: 2em;
        font-weight: bold;
      }

      .general__button {
        text-transform: uppercase;
        padding: 1.5em 2em;
        border-radius: 25px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1100px) {
  .section__info .container {
    grid-template-columns: 1fr;

    img {
      margin: auto;
    }
  }
}
