@import "../../utils/variables.scss";

.filter {
  @include flex-box(space-between);
  @include background-color-alpha(#fff, 0.2);
  flex-wrap: wrap;
  box-shadow: $box-shadow;
  margin: 2em 0;
  padding: 1em;
  gap: 6px;
  align-items: flex-end;

  .filter__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    width: calc(25% - 6px);

    p {
      font-weight: bold;
      font-size: 1.25em;
    }

    select {
      width: 100%;
      padding: 1em;
      border: solid 1px $color-purple-light;
      border-radius: 5px;
    }
  }

  .general__button {
    width: calc(25% - 6px);
  }
}

@media (max-width: 650px) {
  .filter {
    .filter__section,
    .general__button {
      width: calc(50% - 6px);
    }
  }
}

@media (max-width: 450px) {
  .filter {
    .filter__section,
    .general__button {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}
